.card {
  border: none;
  border-radius: 10px;
}

.input-group-text {
  background-color: transparent;
  border-right: none;
}

.form-control, .form-select {
  border-left: none;
}

.form-control:focus, .form-select:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.input-group-text + .form-control:focus {
  border-left: 1px solid var(--primary-color);
}
