<div class="vessel-filters">
  <form [formGroup]="filterForm" class="row g-3">
    <div class="col-md-3">
      <label for="searchTerm" class="form-label">Search</label>
      <input
        type="text"
        class="form-control"
        id="searchTerm"
        formControlName="searchTerm"
        placeholder="Search by name or IMO..."
      >
    </div>
    
    <div class="col-md-3">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="status" formControlName="status">
        <option value="">All Statuses</option>
        <option *ngFor="let status of vesselStatuses" [value]="status">
          {{ status | titlecase }}
        </option>
      </select>
    </div>
    
    <div class="col-md-3">
      <label for="vesselType" class="form-label">Type</label>
      <select class="form-select" id="vesselType" formControlName="vesselType">
        <option value="">All Types</option>
        <option *ngFor="let type of vesselTypes" [value]="type">
          {{ type | titlecase }}
        </option>
      </select>
    </div>
    
    <div class="col-md-3">
      <label for="flagCountry" class="form-label">Flag Country</label>
      <select class="form-select" id="flagCountry" formControlName="flagCountry">
        <option value="">All Countries</option>
        <option *ngFor="let country of flagCountries" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>
    
    <div class="col-12">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="clearFilters()"
      >
        Clear Filters
      </button>
    </div>
  </form>
</div>
